<div class="jumbotron text-center"> 
  <h1>About dumpling</h1> 

  <p>Dumpling is a new website designed to help users learn more 
  about what they eat.</p> 

  <img src='http://steamykitchen.com/wp-content/uploads/2010/03/xiao-long-bao.jpg' alt='a dumpling' class='img-circle'> 


</div> 
